:root{
  /* --bg:black;
  --fg:white; */
  --bg:white;
  --fg:black;
  --omargin:40px;
  --content-column:78px;
}


article{
  /* padding:40px; */
}


header{
  /* padding:40px; */
  min-height:100px;
  grid-column:2/10;
  /* margin-bottom:50px; */
  /* padding:80px 0px; */
  padding-bottom:60px;
  padding-top:80px;
  /* border-bottom:1px solid var(--fg); */
}

h1{
  /* font-family: anonymous-pro, monospace; */
  font-family:'charis-sil',serif;
  font-size:30px;
  margin-bottom:10px;
  font-weight:600;
}

h2{
  font-family:'charis-sil',serif;
  font-size:18px;
  line-height:24px;
  margin-bottom:5px;
}

/* h2 a{
  background-color: transparent;
  border-radius:0px;
  padding:0px;
  margin-left:2px;
} */

h3{
  /* display:flex;
  flex-flow:row wrap;
  align-items: flex-start;
  justify-content:flex-start; */
  font-weight: 600;
}


a{
  /* border-bottom:palegreen 2px solid; */
  /* margin-left:10px; */
  color:black;
  /* text-decoration: none; */
  text-decoration-line:underline;
  text-underline-offset:4px;
  text-decoration-thickness:2px;
  text-decoration-color:palegreen;
  /* background-color: palegreen; */
}

h3 a::after{
  content:' 🡕';
  font-weight: 400;
}


.project-meta{
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  margin-bottom:5px;
}

.project-meta h3>span{
  margin-left:15px;
}

span,figcaption{
  font-family: anonymous-pro, monospace;
  font-size:18px;
  line-height: 24px;
}

body{
  background-color: var(--bg);
  color:var(--fg);
}

.grid{
  width:100%;
  display:grid;
  gap: 0px 10px;
  /* grid-template-columns:minmax(var(--omargin),1fr) repeat(12,78px) minmax(var(--omargin),1fr); */
  grid-template-columns:minmax(var(--omargin),1fr) repeat(10,var(--content-column)) minmax(var(--omargin),1fr);
  grid-template-rows: repeat(12,minmax(min-content, max-content));
  overflow-x:hidden;
}

.text-width{
  grid-column:3/11;
}

.single{
  grid-column:3/11;
  margin:20px 0px;
  position:relative;
  padding-bottom:58%;
}

.single figure{
  position:absolute;
  width:100%;
  height:100%;
}




.single,.gallery{
  margin:20px 0px;
}

.gallery{
  padding-top:5px;
  --h:405px;
  grid-column:1/13;
  height:calc(var(--h) + 25px);
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  overflow:scroll;
  margin-bottom:0px;
  /* scrollbar-width: none; */
}

/* .gallery::-webkit-scrollbar {
  display: none;
} */


.reference{
  grid-column:1/2;
}

.gallery .slide,.slide figure, .slide picture, .slide img, .slide video{
  height:var(--h);
}

/* .gallery>.slide:first-of-type{
  margin-left:calc(var(--refwidth) + 10px);
} */

.slide{
  width:fit-content;
  margin-right:20px;
}

.slide figure{
  width:calc(var(--h) * 1 / var(--ratio));
}

picture{
  width:fit-content;
  height:var(--h);
  min-height: var(--h);
  display:block;
}

.slide video{
  /* width: calc(100% + 5px); */
  height:calc(var(--h) + 2px);
}

.divider{
  grid-column:2/12;
  margin-bottom:70px;
}

figure{
  overflow:hidden;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.16);
  font-size: 0;
  position:relative;
}

figcaption{
  position:absolute;
  bottom:0;
  left:0;
  /* box-sizing: border-box; */
  /* width: 100%; */
  /* height:25px; */
  padding:9px;
  transform:translateY(100%);
  transition: transform 0.3s;
}

figcaption a {
  background-color: white;
  display:inline-block;
  padding:7px;
}

figure.video{
  border-radius:6px;
}

.slide figure.video{
  border-radius:6px;
}

video{
  position:relative;
  /* top:2px; */
  width:calc(100% + 2px);
  /* width:100%; */
}





.description{
  font-family:'charis-sil',serif;
  font-size:18px;
  line-height: 24px;
}

em{
  font-style: italic;
}



.scroll-indicator{
  padding-right:30px;
  padding-left:calc(10px + var(--omargin));
  /* width:var(--refwidth); */
  height:var(--h);
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
}

.scroll-indicator span{
  white-space: nowrap;
}



.sign-off{
  display:block;
}




/* .slide-wrapper{
  --h:80vh;
  max-height:var(--h);
  width:100%;
  overflow:scroll;
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.slide{
  width:fit-content;
  height:var(--h);
  border-radius:7px;
  overflow:hidden;
} */


@media(hover:hover){
  figure:hover figcaption{
    transform:translateY(0%);
  }

  /* a:hover::after{
    content:'→';
  } */
}

@media(max-width:850px){
  .grid{
    grid-gap:10px;
    grid-template-columns:1fr repeat(8,var(--content-column)) 1fr;
  }
  /* header{
    grid-column:2/9;
  } */


  .single,.text-width,header{
    grid-column:2/10;
  }
  .gallery{
    grid-column:1/11;
  }

  /* .gallery>.slide:first-of-type{
    margin-left:calc((100vw - 718px) / 2);
  } */
  .divider{
    grid-column:2/10;
  }
  .scroll-indicator{
    width:0px;
    padding:0px;
    --magic-formula:calc(((var(--content-column) + 10px) * 8 + 10px));
    margin-left:calc((100vw - var(--magic-formula)) / 2 + 10px);
    /* display:none; */
  }
  .scroll-indicator span{
    display:none;
  }


  /* header{
    grid-column: 2/9;
  } */
}

@media(max-width:730px){

  p,h2,h3,span,figcaption,a{
    font-size:16px;
    line-height: 22px;
  }
  .project-meta h3>span{
    margin-left:10px;
  }

  .divider{
    margin-bottom:40px;
  }



  .grid{
    grid-template-columns:var(--omargin) repeat(8,var(--content-column)) var(--omargin);
  }
  :root{
    --content-column:1fr;
    --omargin:20px;
  }

  .scroll-indicator{
    margin-left:calc(var(--omargin) + 10px);
  }

  .gallery{
    --h:calc(0.58 * (100vw - (var(--omargin) * 2 + 20px)));
  }
}





@font-face {
  font-family: 'charis-sil';
  src: url('../assets/fonts/charis-reg.woff2'),
       url('../assets/fonts/charis-reg.woff');
}

@font-face {
  font-family: 'charis-sil';
  font-weight: 600;
  src: url('../assets/fonts/charis-bold.woff2'),
       url('../assets/fonts/charis-bold.woff');
}

@font-face {
  font-family: 'charis-sil';
  font-style: italic;
  src: url('../assets/fonts/charis-reg-italic.woff2'),
       url('../assets/fonts/charis-reg-italic.woff');
}
