:root{
    /* --fg:#fafafa;
    --bg:#0e0e0e; */
    --pres-fg:#f4f4f4;
    --pres-bg:#0e0e0e;
    --fg:#0e0e0e;
    --bg-rgb:244, 244, 244;
    --bg:rgb(var(--bg-rgb));
    --fontsize:22px;
    --m:20px;
    --active:0;
}

body{
    background-color:var(--bg);
    font-family:'hershey-times';
    font-size:var(--fontsize);
    line-height: 27px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:var(--fg);

    --notes-width:400px;
}




.meta{
    opacity:0.5;
}

#toggle-notes{
    position:fixed;
    left:0;
    bottom:0;
    z-index:200;
    width:var(--notes-width);
    box-sizing:border-box;
    padding:10px var(--m);
    text-align:end;
    /* height:40px; */
    /* line-height:var(--m); */
    background-color: var(--bg);
    /* border-top:1px solid var(--fg); */
    transform-origin:0 100%;
    cursor:w-resize;
}

#toggle-notes::before{
    content:'';
    background: linear-gradient(0deg, rgba(var(--bg-rgb),1) 0%, rgba(var(--bg-rgb),0) 100%);
    height:30px;
    width:100%;
    pointer-events:none;
    position:absolute;
    top:0;
    left:0;
    transform:translateY(-100%);
}

#toggle-notes .meta::before{
    content:"< close notes";
}



a{
    text-decoration:none;
}

a[target="_blank"]{
    cursor:alias;
}

#stage-wrapper{
    position:fixed;
    width:calc(100% - var(--notes-width));
    height:100vh;
    height:100dvh;
    top:0;
    right:0;
    /* background-color: red; */
    /* display:flex;
    flex-flow:column nowrap; */
    /* justify-content: center; */
    padding:var(--m);
    box-sizing:border-box;
    border-left:1px solid var(--fg);
}


#stage{
    /* height:100%;
    width:100%; */
    aspect-ratio:4/3;
    max-height:100%;
    min-height:0;
    min-width:0;
    
    background-color: var(--pres-bg);
    
    color:var(--pres-fg);

    position:relative;
    left:50%;
    transform:translateX(-50%);

    --gap:10px;
    /* padding:calc(var(--gap) * 2); */
    box-sizing:border-box;
    overflow:hidden;
    container-type:inline-size;
    container-name:stage;
}


#stage a{
    color:var(--pres-fg);
    text-decoration:underline;
    text-decoration-thickness:0.06em;
    text-underline-offset:0.1em;
}

#stage img{
    width:100%;
}

figure :where(video,img){
    width:100%;
    min-height:0;

    /* height:100%; */
    object-fit: cover;
    object-position: top;
}

figure picture{
    display:contents;
}

#stage figure{
    display:flex;
    flex-flow:column nowrap;
}

#stage figcaption{
    padding-top: 0.3em;
    /* transform: translateY(0.3em); */
}


@container stage (min-width:0px){
    #grid{
        font-size:2cqw;
        line-height:2.2cqw;
        /* font-size:200px; */
    }
}


.stage-element{
    min-height:0;
    min-width:0;
    grid-row:var(--row);
    grid-column:var(--col);
    --before:min(calc(var(--exit) - var(--active)),0);
    --after:max(calc(var(--entry) - var(--active)),0);
    --offset:calc(100vh * (var(--before) + var(--after)));
    transform:translateY(var(--offset));
    display:flex;
    flex-flow:column nowrap;
}

.stage-element[data-type="text"]{
    font-size: 1.5em;
    line-height: 1.15em;
}

.stage-element[data-type="text"] p{
    margin-bottom:0.5em;
}

.stage-element[data-type="text"] strong{
    opacity:0.5;
    /* font-weight:600; */
}

.stage-element>*{
    min-height:0;
    min-width:0;
}


.stage-element[data-align="end"]{
    justify-content: flex-end;
}

h3{
    font-size: 2.6em;
    line-height: 0.95em;
    /* transform: translateY(-0.15em); */
    text-align:var(--align);
}


.stage-element[data-align="end"] h3{
    transform: translateY(0.2em);
}

#grid{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 1em repeat(10, 1fr) 1em;
    grid-template-rows: 1.5em repeat(6, 1fr) 1.5em;
    grid-column-gap: 0.7em;
    grid-row-gap: 0.7em;
}

.spectrum{
    transform: translateY(0.3em);
    --arrow:url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%2210%22%20viewBox%3D%220%200%208%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M8%205L0.5%209.33013L0.5%200.669872L8%205Z%22%20fill%3D%22%23F4F4F4%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}

.spectrum .right,.spectrum .left{
    width:100%;
    display:flex;
    flex-flow:row nowrap;
}

.spectrum .right *,.spectrum .left *{
    opacity:0.5;
}

.spectrum .right{
    padding-bottom:0.5em;
    margin-bottom:0.5em;
    border-bottom:0.05em solid var(--pres-fg);
}
.spectrum .right::before,.spectrum .left::after{
    content:'';
    border-bottom:0.05em solid var(--pres-fg);
    height:0.5em;
    flex:1;
    order:3;
    opacity:0.5;
}

.spectrum .right::after,.spectrum .left::before{
    content:'';
    background-image:var(--arrow);
    background-repeat: no-repeat;
    background-size: contain;
    width:0.6em;
    transform:translateY(0.15em);
    opacity:0.5;
}
.spectrum .right::after{
    order:4;
}
.spectrum .left::before{
    order:2;
    transform:rotate(180deg) translateY(0.2em);
}


.spectrum .right span{
    order:5;
    margin-left:0.5em;
}

.spectrum .right span{
   
    /* order:1; */
}

.spectrum .left span{
    order:1;
    margin-right:0.5em;
}


article{
    float:left;
    width:var(--notes-width);
    padding:0px var(--m);
    box-sizing:border-box;
}



.scene p{
    opacity:0.1;
    /* transition:opacity 0.2s; */
}

.scene{
    position:relative;
}

.num{
    position:absolute;
    background-color: var(--bg);
    /* transform:translateY(-50%); */
    bottom:0;
    right:0;
    padding-right:2px;
}


article p{
    margin-bottom:10px;
}
.scene p:last-of-type{
    margin-bottom:0;
}


.scene.active p{
    opacity:1;
}


header,section,footer{
    box-sizing:border-box;
    padding:var(--m) 0;
}

section,header{
    border-bottom:1px dashed var(--fg);
}

header{
    /* padding-top:var(--m); */
}


footer{
    height:100vh;
    height:100lvh;
}

.hide-notes article{
    opacity:0;
    pointer-events:none;
}

.hide-notes #stage{
    /* border:1px dashed var(--bg); */
}

.hide-notes #stage-wrapper{
    width:calc(100% - 60px);
    background-color: var(--pres-bg);
}

.hide-notes #toggle-notes{
    background:transparent;
    /* width:fit-content; */
    transform: rotate(-90deg) translateY(100%);
    height: 60px;
    width:100vh;
    width:100dvh;
    text-align:start;
    cursor:e-resize;
}

.hide-notes #toggle-notes .meta::before{
    content:'notes';
}

.hide-notes #toggle-notes::before{
    background:transparent;
}


.spectrum-point{
    background-color: var(--pres-fg);
    border-radius:50%;
    width:0.5em;
    height:0.5em;
    transform:translate(-50%,-1.05em);
}

.spectrum-point.last{
    align-self:flex-end;
    transform:translate(50%,-1.05em);
}

@font-face {
    font-family: 'hershey-times';
    src: url('../assets/fonts/hershey-noailles-simplex-regular.woff');
}
  