{% macro html(projects,path="../assets/") %}
<header class="show">
  <h1>Welcome! I’m Nico. This website catalogs my work as a designer and developer.</h1>
</header>
<main>

  <header class="hide">
    <h1>Welcome! I’m Nico. This website catalogs my work as a designer and developer.</h1>
    <button>projects</button><button>info</button><button>contact</button><button>index</button>
    {# <a class='email' href="mailto:jnico.chilla@gmail.com">contact</a> #}
  </header>
  <div id="grid">
    <div id="info-box">
      <section>
        <h4>Currently:</h4>
        <p>Finishing out my degrees in <a target="_blank" href="https://bfacd.parsons.edu/2022/nico-chilla">Communication Design</a> and Philosophy (expected Fall 2022), and pursuing internships and full-time positions beginning in the spring.</p>
      </section>

      <section>
        <h4>Me:</h4>
        <p>Originally from San Jose, CA, I’m currently a student at Parsons / The New School in New York. While in school, I’ve worked for the L.A. Times and 908A, alongside various freelance clients.</p>
        <p>My approach to design is informed by a background in philosophy and programming, and these three disciplines often run together in my work. I spend a lot of time thinking about how information is represented and translated across different formats.</p>
      </section>
    </div>
    {% for project in projects %}
    {% if project.type == 'single' %}
    <div class="single media-box" style="--ratio:{{project.assets[0].ratio}}" data-position="{{ project.position }}" data-project="{{ project.title }}">
      {{ macros.media(project.assets[0].src, project.assets[0].type,'','','',project.assets[0].ratio,path) }}
    </div>
    {% elseif project.type == 'gallery' %}
    <div class="gallery media-box" data-position="{{ project.position }}" data-project="{{ project.title }}">
      {% for media in project.assets %}
      <div class="slide">
        {% if (media.type=='loop')%}
        <div class="loop">
          {% for img in media.images %}
          {{ macros.media(img.src, img.type, img.effects, '', img.link,null,path) }}
          {% endfor %}
        </div>
        {% else %}
        {{ macros.media(media.src, media.type, media.effects, media.caption if captions else '', media.link,null,path) }}
        {% endif %}



      </div>
      {% endfor %}
      <div class="end-cap">

      </div>
    </div>
    {% endif %}
    <h3 data-position="{{ project.position }}" data-project="{{ project.title }}">
      {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
      {% else %}
        {{ project.title }}
      {% endif %}


    </h3>
    <p class='description' data-position="{{ project.position }}" data-project="{{ project.title }}">{{ project.description | md | safe}}</p>
    {% endfor %}
  </div>
  <footer>
    <span><a href="https://www.are.na/nico-chilla" target="blank">are.na</a> - <a href="https://github.com/nchilla" target="blank">github</a> - <a href="https://www.linkedin.com/in/nico-chilla-359529182" target="blank">linkedin</a></span>
  </footer>
</main>
<header class="show">
  <h1 class='hide'>Welcome! I’m Nico. This website catalogs my work as a designer and developer.</h1>
  {# <a class='email' href="mailto:jnico.chilla@gmail.com">contact</a> #}
  <button class='down viewchange' data-action="projects">projects</button><button class='left viewchange' data-action="info">info</button><button data-action="contact">contact</button><button data-action="index viewchange">index</button>
</header>
<script type="text/javascript">

  let large=window.matchMedia('(min-width:1000px)');
  const grid=document.querySelector('#grid');

  const observer = lozad(); // lazy loads elements with default selector as '.lozad'
  observer.observe();
  setColumnCount();

  let timer;
  window.addEventListener('resize',setColumnCount);

  function timeOutResize(){
    clearTimeout(timer);
    timer=setTimeout(setColumnCount,10);
  }
  // const main=document.querySelector('main')

  document.querySelectorAll('.viewchange').forEach((item, i) => {
    item.addEventListener('click',function(){
      document.body.dataset.view=event.currentTarget.dataset.action;

    })
  });






  function setColumnCount(){
    console.log('calculating columns');
    const w=window.innerWidth;
    const col=large.matches?110:90;
    const gap=15;
    const outer=large.matches?90:80;
    const content=large.matches?6:6;

    let count=Math.floor((w - outer + gap) / (col + gap));
    if(count % 2 == 1) count--;
    count=Math.min(count,10);


    console.log(count);

    let styleStr=`1fr repeat(${count},var(--col)) 1fr`;
    grid.style.setProperty('--fancy',styleStr);
    grid.style.setProperty('--edge',count + 3);
    grid.style.setProperty('--count',count);
    grid.style.setProperty('--bump',Math.ceil((count - content) / 2));
  }
</script>
{% endmacro %}
