{% macro media(src,type,effects,caption,link,ratio,path="../assets/") %}

  {% if type == 'video'%}
  {% set ratio = ratio if ratio else 0.58  %}
  <figure style='--ratio:{{ ratio }};' class='video media {{effects}}'>
    <video class="lozad" autoplay muted playsinline loop data-poster="{{ path }}video/{{ src }}.jpg">
      <source data-src="{{ path }}video/{{ src }}.webm" type="video/webm">
      <source data-src="{{ path }}video/{{ src }}.mp4" type="video/mp4">
    </video>
    {% if caption %}
      <figcaption><a href="{{ link }}" target='_blank'>{{ caption }}</a></figcaption>
    {% endif%}
  </figure>

  {% elseif type == 'image' %}
  {% set srcpath = path+"images/" if effects !== 'video' else path+"images-large/"  %}

  <figure style='--ratio:{{ src | getRatio }};' class="{{ effects }} media">
  <picture class="lozad">
    <source type="image/webp" srcset="{{ srcpath }}{{ src }}.webp" type="image/webp">
    <source type="image/jpg" srcset="{{ srcpath }}{{ src }}.jpg">
  </picture>
  {% if caption %}
    <figcaption>
      <a href="{{ link }}" target='_blank'>{{ caption }}</a>
    </figcaption>
  {% endif%}
  </figure>





  {% endif %}
{% endmacro %}
