{% macro media(src,type,effects,caption,link,ratio,path="../assets/",autoplay=true) %}

  {% if type == 'video'%}
  {% set ratio = ratio if ratio else 0.58  %}
  <figure style='--ratio:{{ ratio }};' class='video media {{effects}}'>
    <video preload="none" {% if autoplay %} autoplay {% endif %} muted playsinline loop poster="{{ path }}video/{{ src }}.jpg">
      <source src="{{ path }}video/{{ src }}.webm" type="video/webm">
      <source src="{{ path }}video/{{ src }}.mp4" type="video/mp4">
    </video>
    {% if caption %}
      <figcaption>
        {{ caption | safe }}
      </figcaption>
    {% endif%}
  </figure>

  {% elseif type == 'image' %}
  {% set srcpath = path+"images/" if effects !== 'video' else path+"images-large/"  %}
  {% set srcpath = path+"images-large/" if 'fitheight large' in effects else srcpath  %}
  {% set srcpath = path+"images-large/" if 'extra-small' in effects else srcpath  %}
  {% set srcpath = path+"images-preserve-scale/" if 'preserve-scale' in effects else srcpath  %}
  {% set ext = "png" if "png" in effects else "jpg"  %}

  <figure style='--ratio:{{ src | getRatio }};' class="image {{ effects }} media">
  <picture>
    <source type="image/webp" srcset="{{ srcpath }}{{ src }}.webp" type="image/webp">
    <source type="image/{{ext}}" srcset="{{ srcpath }}{{ src }}.{{ext}}">
    <img loading="lazy" src="{{ srcpath }}{{ src }}.{{ext}}">
  </picture>
  {% if caption %}
    <figcaption>
      {{ caption | safe }}
    </figcaption>
  {% endif%}
  </figure>





  {% endif %}
{% endmacro %}

{% macro projectinfo(project) %}
<h3 class="label text-col" data-position="{{ project.position }}" data-size="{{ project.size }}" data-project="{{ project.title }}">
  {{ project.title }}
  {% if project.link %}
    <a href="{{ project.link }}" target="_blank">{{ project.link_copy }}</a>
  {% endif %}
</h3>
<div class='description text-col' data-position="{{ project.position }}" data-size="{{ project.size }}" data-project="{{ project.title }}">
  <p>{{ project.description | md | safe}}</p>
  <p>
    {% if project.typefaces.length > 0 %}
    <button class="type expandable" data-text="{{project.typefaces}}"><span></span></button>
    {% endif %}
    {% if project.code.length > 0 %}
    <button class="code expandable" data-text="{{project.code}}"><span></span></button>
    {% endif %}
  </p>
</div>
{% endmacro %}

