

{% macro media(src,type,effects,caption,link) %}

  {% if type == 'video'%}
  <figure style='--ratio:0.58;' class='video'>
    <video class="lozad" autoplay muted playsinline loop data-poster="">
      <source data-src="../assets/video/{{ src }}.mp4" type="video/mp4">
    </video>
    {% if caption %}
      <figcaption><a href="{{ link }}" target='_blank'>{{ caption }}</a></figcaption>
    {% endif%}
  </figure>

  {% elseif type == 'image' %}
  <figure style='--ratio:{{ src | getRatio }};' class="{{ effects }}">
    <!-- For an element to be caught, add a block type that is different from the inline and some min-height for correct caught into view -->
  <picture class="lozad">
    <source type="image/webp" srcset="../assets/images/{{ src }}.webp" type="image/webp">
    <source type="image/jpg" srcset="../assets/images/{{ src }}.jpg">
  </picture>
  {% if caption %}
    <figcaption>
      <a href="{{ link }}" target='_blank'>{{ caption }}</a>
    </figcaption>
  {% endif%}
  </figure>





  {% endif %}
{% endmacro %}
