{% macro html(slides,path="../../assets/") %}




<main>
  <section data-step="0">
    <h2><span>Hi! I’m Nico.</span></h2>
  </section>
  <nav>
    <h1><span>Nico Chilla</span><br></h1>
    <a class='email stick' href="mailto:jnico.chilla@gmail.com">contact</a>
  </nav>
  {% for slide in slides %}
    <section data-step="{{ loop.index }}" data-type="{{ slide.type }}" data-effects="{{slide.effects}}">

      {% if slide.type == 'single' %}
      <a href="{{ slide.url if slide.url }}" target="_blank">
        {{ macros.media(slide.assets[0].src, slide.assets[0].type,'','','',slide.assets[0].ratio,path) }}
      </a>

      {% elseif slide.type == 'diptych' %}
        {{ macros.media(slide.assets[0].src, slide.assets[0].type,'','','',slide.assets[0].ratio,path) }}
        {{ macros.media(slide.assets[1].src, slide.assets[1].type,'','','',slide.assets[1].ratio,path) }}
      {% endif %}
      <figcaption class="noselect">{{slide.title}}</figcaption>
    </section>
  {% endfor %}


  {# <section data-step="0">
    <figure></figure>
  </section>
  <section data-step="1">
    <figure></figure>
  </section>
  <section data-step="2">
    <figure></figure>
  </section> #}
  <footer></footer>
</main>


<script type="text/javascript">
  const slides=document.querySelectorAll('main section')

  slides.forEach((slide, i) => {
    slide.addEventListener('click',function(){
      if(event.target.tagName!=='A'){
        let next=i>=(slides.length-1)?0:i+1;
        document.querySelector(`section[data-step="${next}"]`).scrollIntoView();
      }
    })
  });




  const observer = lozad(); // lazy loads elements with default selector as '.lozad'
  observer.observe();
</script>
{% endmacro %}
