{% import 'macros.njk' as macros %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nico’s work</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" >
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/clearstyle.css">
    <link rel="stylesheet" href="css/work.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✏</text></svg>">
    <script src="js/lozad.js" charset="utf-8"></script>
  </head>
  {% set captions = false %}
  <body>
    <main>
      <div id="grid">
        <div class="top-bar">

        </div>
        <header class="prose">
          <section>
            <h1 class="push-back">Welcome! I’m Nico.</h1>
            <p>I work as a designer and developer, and I also do some other things. Here you can view a selection of my previous work.
            </p>
          </section>
          <section class="accordion selected">
            <button type="button" name="button">What am I up to?</button>
            <p>I’m currently finishing out my degrees in <a target="_blank" href="https://bfacd.parsons.edu/2022/nico-chilla">Communication Design</a> and Philosophy at Parsons / The New School (expected Fall 2022).</p>
            <p>In the meantime, I’m available for freelance and pursuing full-time positions to begin in 2023.</p>

          </section>
          <section class="accordion">
            <button type="button" name="button">Where to find me?</button>
            <p>Currently, in Brooklyn, NY.&nbsp;Also these places:<br>
            <a target="_blank" href="mailto:jnico.chilla@gmail.com">email</a>,
            <a target="_blank" href="https://www.are.na/nico-chilla">are.na</a>,
            <a target="_blank" href="https://github.com/nchilla">github</a>,
            <a target="_blank" href="https://www.linkedin.com/in/nico-chilla-359529182/">linkedin</a>,
            <a target="_blank" href="https://mobile.twitter.com/nicochilla">twitter</a>
            </p>
          </section>

          <section class="accordion">
            <button type="button" name="button">What is Goby?</button>
            <p>Goby is my ongoing personal project to create a new interface for organizing and representing information on your computer.</p>
            <p>You can find my documentation <a target="_blank" href="https://www.are.na/nico-chilla/goby-journal">here</a>, and also feel free to <a href="mailto:jnico.chilla@gmail.com">reach out</a>! I love talking to other people pondering the question of how interfaces shape our thought.</p>
          </section>
          <section class="accordion">
            <button type="button" name="button">What’s with this subdomain?</button>
            <p>My plan is for my main site to be a more general catalog of my existence, while this subdomain showcases my professional work.</p>
            <p>However until I update it, <a href="https://nicochilla.com/">nicochilla.com</a> will host my very first website; the work on it is outdated, but as a website I’m still rather proud of it.</p>
          </section>

        </header>
        {% for project in projectsseptember %}
        {% if project.type == 'single' %}
        {{ macros.media(project.assets[0].src, project.assets[0].type) }}
        {% elseif project.type == 'gallery' %}
        <div class="gallery">
          {% for media in project.assets %}
          <div class="slide">

            {{ macros.media(media.src, media.type, media.effects, media.caption if captions else '', media.link) }}
          </div>
          {% endfor %}
          <div class="end-cap">

          </div>
        </div>
        {% endif %}
        <h3>
          {# {{ project.title }} #}
          {% if project.link %}
            <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
          {% else %}
            {{ project.title }}
          {% endif %}
          <span class='tag-holder'>
            {% for role in project.role %}
              <span class='tag' data-role="{{ role }}">{{ role }}</span>
            {% endfor %}
          </span>


        </h3>
        <p class='description'>{{ project.description | md | safe}}</p>
        {% endfor %}
      </div>

    </main>





    <script type="text/javascript">

      window.addEventListener('load',init);

      function init(){
        document.querySelectorAll('.accordion button').forEach((button) => {
          button.addEventListener('click',function(){
            document.querySelector('.accordion.selected').classList.remove('selected');
            button.parentNode.classList.add('selected');
          })
        });

      }
      const observer = lozad(); // lazy loads elements with default selector as '.lozad'
      observer.observe();
      window.addEventListener('load',setColumnCount)
      window.addEventListener('resize',setColumnCount);

      let timer;

      function timeOutResize(){
        clearTimeOut(timer);
        timer=setTimeOut(setColumnCount,100);
      }

      const grid=document.querySelector('#grid')

      function setColumnCount(){
        const w=window.innerWidth;
        const outer=w>1100?40:20;
        const col=w>1100?174:145;
        const start=15 + col + outer;
        const count=Math.floor((w-start)/(col+30));

        // let colString='var(--m)) var(--m)) var(--col)';
        // let colRepeat=
        let styleStr=`var(--m) var(--col) repeat(${count},var(--m) var(--m) var(--col)) 1fr`;
        let end=(count*3)+4;
        // let flexStr='var(--m) var(--col) repeat(2, var(--m)) var(--col) 1fr repeat(3,var(--m) var(--m) var(--col)) 35px';
        // let styleStr='var(--m) var(--col)';
        // for (let i = 0; i < count; i++) {
        //   styleStr=styleStr+' repeat(2, var(--m)) var(--col)';
        // }
        // styleStr=styleStr+' 1fr';
        if(w>1260){
          grid.style.gridTemplateColumns=styleStr;
          // grid.style.setProperty('grid-template-columns',styleStr);
          grid.style.setProperty('--end',end);
        }else{
          grid.style='';
        }



      }




    </script>
  </body>
</html>
