html,body{
  height: 100%;
  overflow: hidden;
}



:root{
  --bg:#f4f4f4;
  --m:15px;
  --col:90px;
  --contentcols:6;
  --contentw:615px;
  --fontsize:16px;
  --full:300vw;
  --hl:#FFFEE2;
}

main{
  width:var(--full);
  height:100vh;
  transform:translateX(calc(var(--full) * -0.5));
  transition:transform 0.8s;
  position:fixed;
  left:50vw;
  top:0;
  overflow:scroll;
}

body[data-view="info"] main{
  transform:translateX(-50%) translateX(calc((var(--col) + var(--m)) * 5));
}

body[data-view="info"] :where(.gallery,.description,h3,.single){
  opacity:0.2;
}

body[data-view="info"] #info-box{
  opacity:1;
}


body{
  /* background-color: gainsboro; */
  background-color:var(--bg);
  font-family:'minotaur  sns', 'iosevka';
  font-size:var(--fontsize);
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color:black;
  text-decoration-thickness:1px;
  text-underline-offset:2px;
  cursor:alias;
}

figure{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
}


#info-box{
  grid-column: 2 / 6;
  height:0;
  position:sticky;
  top:11vw;
  z-index:20;
  opacity:0;
  transition:opacity 0.5s;
  transform:translateX(-100%) translateX( calc((var(--col) + 15px) * -1) );
}

#info-box section{
  background-color: var(--bg);
}

section h4{
  color:#696969;
}

section p{
  text-indent: 30px;
}

section p:first-of-type{
  text-indent: 0px;
}
section p:last-of-type{
  margin-bottom:15px;
}




.single figure{
  position:absolute;
}


figure video,figure img,figure picture {
  width:100%;
  position:absolute;
  min-height: 100%;
}

figure video,figure.video img{
  width:calc(100% + 1px);
}


.single{
  padding-bottom:calc(var(--ratio) * 100%);
  position:relative;
  overflow:hidden;
}

.gallery{
  display:flex;
  flex-flow:row nowrap;
  align-items: flex-end;
  grid-column: 1 / var(--edge);
  --h:calc(var(--contentw) * 0.58);
  height:var(--h);
  overflow:scroll;
}

::selection{
  background-color:var(--hl);
}

.gallery[data-position="left"]{
  padding-left:var(--outer);
}

.gallery[data-position="left"] .end-cap{
  margin-left:calc(var(--outer) + var(--bump) * 2 * (var(--col) + var(--m)) - var(--m));
}

.gallery[data-position="center"]{
  padding-left:calc(var(--outer) + var(--bump) * (var(--col) + var(--m)) );
}

.gallery[data-position="center"] .end-cap{
  margin-left:calc(var(--outer) + var(--bump) * (var(--col) + var(--m)) - var(--m));
}

.slide{
  margin-right:var(--m);
  position:relative;
  height:100%;
}

.end-cap{
  height:100%;
  min-width:1px;
  margin-left:-1px;
  /* margin-left:calc(var(--outer) + var(--bump) * 2 * (var(--col) + var(--m)) - var(--m)); */
}

/* .end-cap{
  margin-left:calc(var(--outside) - 30px);
} */

.slide img, .slide video{
  position:relative;
}

.slide .video{
  width:var(--contentw);
  height:100%;
}

.slide .fitheight{
  height:auto;
  padding-bottom:var(--h);
  width:calc(var(--h) * 1 / var(--ratio));
}

.slide .loop{
  height:var(--h);
  position:relative;
}

.slide .loop figure{
  padding-bottom:0;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  opacity:0;
  left:0;
}

.slide .loop figure:first-child{
  position:relative;
  height:var(--h);
  width:calc(var(--h) / var(--ratio));
}




.media-box{
  /* margin-bottom:5px; */
}

h3{
  font-size:var(--fontsize);
  padding-top:5px;
}

/* h3 a{
 text-decoration: none;
 background-color: #FFFEE2;
 padding: 0px 3px;
 left: 0px;
 position: relative;
} */

/* h3[data-project="“The Secret” identity"]{
  margin-left:-0.5em;
} */

h3 a::after{
  content:' \1F855';
  /* content:' ↗'; */
  font-weight: 600;
  /* font-family: u1f800; */
  line-height: 20px;
  /* unicode-bidi: isolate;
  font-variant-numeric: tabular-nums; */
}


.description,h3,.single{
  font-size:var(--fontsize);
  --start:2;
  --end:calc(var(--start) + var(--contentcols));
  grid-column: var(--start) / var(--end);
}

.description,h3{
  background-color: var(--bg);
  position:relative;
  z-index:5;
}


.description[data-position="center"],h3[data-position="center"],.single[data-position="center"]{
  --start:calc(2 + var(--bump));
}

.description[data-position="right"],h3[data-position="right"],.single[data-position="right"]{
  --end:calc(var(--edge) - 1);
  --start:calc(var(--end) - var(--contentcols));
}

.description{
  margin-bottom:80px;
}

.description,.description a{
  color:#696969;
}

a.email{
  cursor:pointer;
  display:none;
}

h1{
  white-space: nowrap;
}

header,footer {
  padding:20px;
  /* display:flex; */
  flex-flow:row nowrap;
  justify-content: space-between;
  width:100%;
  box-sizing: border-box;
}



header{
  font-family:'minotaur  light','Times New Roman';
  font-size:2.55vw;
  line-height: 3vw;
  white-space: nowrap;
  /* position:sticky;
  top:0;
  left:0;
  right:0; */
  margin-bottom:2vw;
  /* text-align: center; */
}

header.show{
  position:fixed;
  top:0;
  left:0;
}
header.hide{
  pointer-events: none;
  opacity:0;
}

header>.hide{
  opacity:0;
  pointer-events: none;
}

header button{
  background-color: var(--bg);
  line-height: 1.1em;
  /* padding:0 3px; */
  margin-right:1vw;
  padding-left:2vw;
  padding-right:0.3vw;
  margin-top:0.5vw;

  --rotate:0deg;
  --x: -3vw;
  --y: -1.9vw;
}

header button:first-of-type{
  margin-left:-0.5vw;
}

header button::before{
  content: '→';
  width:0;
  transform: scale(0.5) translate(var(--x),var(--y)) rotate(var(--rotate));
  transition:transform 0.3s;
  display: inline-block;
}

header button[data-action="info"]{
  --rotate: 180deg;
  --x: -0.4vw;
  --y: -1.1vw;
}

body[data-view="info"] header button[data-action="info"]{
  --rotate: 90deg;
  --x: -1vw;
  --y: -1.9vw;
  color:#696969;
}

header button[data-action="contact"]{
  --rotate: -90deg;
  --x: -1.5vw;
  --y: -0.1vw;
}

header button[data-action="projects"]{
  --rotate: 90deg;
  --x: -1vw;
  color:#696969;
}

body[data-view="info"] header button[data-action="projects"]{
  --rotate: 0deg;
  --x: -3vw;
  --y: -1.9vw;
  color:black;
}


#grid{
  /* width:100vw;
  margin:auto; */

  grid-template-columns: var(--fancy);
  display:grid;
  grid-gap:0px 15px;
  --outer: calc((var(--full) - (var(--count) * (var(--col) + var(--m)) + var(--m))) / 2 + var(--m));
}

#grid>*{
  transition:opacity 0.3s;
}



@media(hover:hover){
  header button:hover{
    background-color:var(--hl);
  }
}

@media(min-width:1000px){
  :root{
    --col:110px;
    --contentw:735px;
  }
}


@media(max-width:700px){

  header{
    display: block;
    z-index: 20;
    margin-bottom: 0;
    background-color: var(--bg);
    padding: 0;
    width: var(--contentw);
    margin-left: 20px;
    margin-top:20px;
    margin-bottom:10px;
    padding: 8px 0px;
  }

  header h1{
    display:inline;
    margin-right:6px;


  }

  .slide .fitheight {
    --w:calc(var(--contentw) / 2 - 5px);
    width:var(--w);
    height:calc(var(--w) * var(--ratio));
    padding:0;
  }
  .slide:has(.nomobile){
    display:none;
  }
  .nomobile{
    display:none;
  }

  video{
    margin-bottom:-3px;
  }

  :root{
    --contentw:calc(100vw - 40px);
  }
  #grid>*{
    padding-left:20px;
    padding-right:20px;
  }
  .gallery[data-position="left"],.gallery[data-position="center"]{
    padding:0px 20px;
  }

  .slide figure.video{
    position:relative;
    padding-bottom:calc(var(--ratio) * var(--contentw));
  }
  .slide figure:not(.fitheight) picture,.slide figure:not(.fitheight) img{
    position:relative;
  }
  .slide figure.video video,.slide figure.video img,.slide figure.video picture{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
  }

  #grid .single{
    padding-right: 0px;
    padding-left:0;
    margin-left:20px;
    width: var(--contentw);
  }
  .gallery{
    height:auto;
    flex-flow:row wrap;
    justify-content: space-between;
  }

  .slide{
    margin-right:0;
    margin-bottom:10px;
  }
  .end-cap{
    display:none;
  }

  h3{
    font-size:15px;
  }




  #grid{
    display:block;
    /* padding:0px 20px; */
  }
}


@media(max-width:500px){

  body{
    font-size:15px;
  }

  .description{
    display:none;
  }

  h3{
    margin-top:-10px;
    margin-bottom:40px;
  }

  h3 a::after{
    display:none;
  }
}

@font-face {
  font-family: 'iosevka';
  src: url('../../assets/fonts/iosevka-regular.woff2');
}


@font-face {
  font-family: 'minotaur  sns';
  src: url('../../assets/fonts/msans-light.otf');
}

@font-face {
  font-family: 'minotaur  light';
  src: url('../../assets/fonts/min-light.otf');
}
