:root{
  --colwidth:100px;

  --small-span:calc(var(--colwidth) * 4 + 60px);
  --refwidth:820px;
}

main{
  /* margin:0px 20px; */
  margin-left:20px;
  width:calc(100% - 20px);
  display:grid;
  grid-template-columns: repeat(11, 100px) 1fr 0px;
  grid-auto-rows:auto;
  grid-column-gap: 20px;
  grid-row-gap: 0px;

  padding-top:20px;

  font-family:'minotaur  sans';
  font-size:16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color:black;
  text-decoration-thickness:1px;
  text-underline-offset:2px;
}




main video,main img{
  width:100%;
  border:1px solid black;
  border-radius:7px;
  overflow:hidden;
}


.single,.divider,#project-width{
  grid-column: 5 / 12;
}


.gallery{
  grid-column: 3 / 14;
  padding-left:calc(var(--colwidth) * 2 + 40px);
  display:flex;
  flex-flow:row nowrap;
  overflow:scroll;
  scrollbar-width: none;
  align-items: flex-end;
}
.gallery::-webkit-scrollbar {
  display: none;
}


figcaption{
  display:none;
}

.gallery .video{
  width:var(--refwidth);
  /* height:calc(var(--refwidth) * var(--ratio)); */
}

.gallery .slide{
  margin-right:20px;
}

.slide figure.small-span{
  width:var(--small-span);
}

.divider{
  margin-bottom:30px;
}

main>h3{
  grid-column: 5 / 8;
}

.description{
  grid-column: 8 / 12;
}

#left-col{
  grid-column: 1 / 4;
  position:sticky;
  top:20px;
  height:20px;
}


header{
  position:relative;
  width:100%;
  height:calc(100vh - 20px);
  z-index:200;
  background-color: white;
}

.right-divider{
  position:absolute;
  top:0;
  right:-10px;
  width:10px;
  background-color: white;
  border-right:1px solid black;
  height:100%;
}


@font-face {
  font-family: 'minotaur  sans';
  src: url('../assets/fonts/msans-light.otf');
}
