:root{
  /* --bg:black;
  --fg:white; */
  --bg:white;
  --fg:black;
  --omargin:40px;
  --content-column:78px;
}


article{
  /* padding:40px; */
}


header{
  padding:40px;
  min-height:100px;
  grid-column:2/12;
  /* border-bottom:1px solid var(--fg); */
}


a{
  /* margin-left:10px; */
  color:black;
  text-decoration: none;
  background-color: palegreen;
}

a,.role{
  margin-right:0px;
  padding:2px 7px;
  border-radius:15px;
  /* border:1px solid black; */
  font-weight: 400;
}

.project-meta{
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  margin-bottom:5px;
}

.project-meta>span{
  margin-left:15px;
}

span,a{
  font-family: anonymous-pro, monospace;
  font-size:18px;
  line-height: 24px;
}

body{
  background-color: var(--bg);
  color:var(--fg);
}

.grid{
  width:100%;
  display:grid;
  gap: 0px 10px;
  grid-template-columns:minmax(var(--omargin),1fr) repeat(12,min(8%,78px)) minmax(var(--omargin),1fr);
  grid-template-rows: repeat(12,minmax(min-content, max-content));
}

.text-width{
  grid-column:4/12;
}

.single{
  grid-column:4/12;
  margin:20px 0px;
}




.single,.gallery{
  margin:20px 0px;
}

.gallery{
  padding-top:5px;
  --h:400px;
  grid-column:1/15;
  height:calc(var(--h) + 25px);
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  overflow:scroll;
  /* scrollbar-width: none; */
}

/* .gallery::-webkit-scrollbar {
  display: none;
} */


.reference{
  grid-column:1/2;
}

.gallery .slide,.slide figure, .slide picture, .slide img, .slide video{
  height:var(--h);
}

/* .gallery>.slide:first-of-type{
  margin-left:calc(var(--refwidth) + 10px);
} */

.slide{
  width:fit-content;
  margin-right:20px;
}

.slide figure{
  width:calc(var(--h) * 1 / var(--ratio));
}

picture{
  width:fit-content;
  height:var(--h);
  min-height: var(--h);
  display:block;
}

.slide video{
  /* width: calc(100% + 5px); */
  height:calc(var(--h) + 2px);
}

.divider{
  grid-column:2/12;
  margin-bottom:70px;
}

figure{
  overflow:hidden;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.16);
  font-size: 0;
}

figure.video{
  border-radius:12px;
}

.slide figure.video{
  border-radius:6px;
}

video{
  position:relative;
  /* top:2px; */
  width:calc(100% + 2px);
  /* width:100%; */
}





.description{
  font-family:'charis-sil',serif;
  font-size:18px;
  line-height: 24px;
}

em{
  font-style: italic;
}

h3{
  /* display:flex;
  flex-flow:row wrap;
  align-items: flex-start;
  justify-content:flex-start; */
  font-weight: 600;
}

.scroll-indicator{
  padding-right:30px;
  padding-left:calc(10px + var(--omargin));
  /* width:var(--refwidth); */
  height:var(--h);
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
}

.scroll-indicator span{
  white-space: nowrap;
}



.sign-off{
  display:block;
}




/* .slide-wrapper{
  --h:80vh;
  max-height:var(--h);
  width:100%;
  overflow:scroll;
  display:flex;
  flex-flow:row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.slide{
  width:fit-content;
  height:var(--h);
  border-radius:7px;
  overflow:hidden;
} */


@media (hover:hover) {
  /* .single:hover {
    cursor:pointer;
  }

  .single:hover + .description{
    background-color: yellow;
  } */
}



@font-face {
  font-family: 'charis-sil';
  src: url('../assets/fonts/charis-reg.woff2'),
       url('../assets/fonts/charis-reg.woff');
}

@font-face {
  font-family: 'charis-sil';
  font-weight: 600;
  src: url('../assets/fonts/charis-bold.woff2'),
       url('../assets/fonts/charis-bold.woff');
}

@font-face {
  font-family: 'charis-sil';
  font-style: italic;
  src: url('../assets/fonts/charis-reg-italic.woff2'),
       url('../assets/fonts/charis-reg-italic.woff');
}
