
{% import 'macros.njk' as macros %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" >
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Nico’s work</title>
    <link rel="stylesheet" href="../css/clearstyle.css">
    <link rel="stylesheet" href="../css/fast-track.css">
    <script src="../js/lozad.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://use.typekit.net/tst3cyv.css">
  </head>
  <body>
    <article class='grid'>
      <header>

      </header>
      <div class="reference">

      </div>

      {% for project in projects %}

      <div class="description text-width">
        <div class="project-meta">
          <h3>{{ project.title }}</h3>
          <span>
            {# <span class='role'>{{ project.role }}</span> #}
            {% if project.link %} <a href="{{ project.link }}" target="_blank">Visit</a> {% endif %}
          </span>
        </div>

        <p>{{ project.description | md | safe}}</p>
      </div>

      {% if project.type == 'single' %}
      <div class="single">
        {{ macros.media(project.assets[0].src, project.assets[0].type) }}
      </div>
      {% else %}
      <div class="gallery">
        <div class="scroll-indicator">
          <span>Scroll<br>me --&gt;</span>
        </div>
        {% for media in project.assets %}
        <div class="slide">

          {{ macros.media(media.src, media.type, media.effects) }}
        </div>
        {% endfor %}
      </div>

      {% endif %}

        <div class="divider">  </div>
      {% endfor %}




    </article>

    <script src="../js/fast-track.js" charset="utf-8" defer></script>
  </body>
</html>
