{% import 'macros.njk' as macros %}
{% import 'presentv2.njk' as presentation with context %}
{% set rootpath="../" %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{templates.title}}</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" >
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">

    <!-- favicon -->

    <link rel="apple-touch-icon" sizes="180x180" href="{{ rootpath }}assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ rootpath }}assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ rootpath }}assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ rootpath }}assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ rootpath }}assets/favicon/safari-pinned-tab.svg" color="#5bbad5">



    <link rel="stylesheet" href="{{ rootpath }}css/clearstyle.css">
    <link rel="stylesheet" href="{{ rootpath }}css/presentv2.css">

    {# <script src="{{ rootpath }}js/lozad.js" charset="utf-8"></script> #}
  </head>
  <script>
    console.log({{ templates | dump | safe }})
  </script>
  {% set captions = false %}
  <body>
    {{ presentation.html(templates,rootpath+'assets/') }}
  </body>
</html>
<body>
